<div class="contents row">
  <div class="container">
  <h3>編集する</h3>
    <%= form_with(model: @post, local: true) do |form|%>
      <%= form.text_field :name, placeholder: "ニックネーム" %>
      <%= form.text_field :image, placeholder: "画像"%>
      <%= form.text_area :text, placeholder: "コメント", rows: "10" %>
      <%= form.submit "送信" %>
    <% end %>
  </div>
</div>